/* Parte superior (azul) */
.footer-top {
  background-color: #001F3F;
  color: white;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.footer-logo img {
  width: 200px;
  margin-right: 10px;
  margin-left: 40px;
}

.footer-contact,
.footer-location {
  max-width: 300px;
}

.footer-location,
.footer-location h2,
.footer-location p {
  color: #fff ;
  text-shadow: 0 1px 6px rgba(0,0,0,0.18);
}

.footer-contact h4,
.footer-location h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-location iframe {
  width: 100%;
  height: 120px;
  border: none;
  border-radius: 12px;
  margin-top: 10px;
}

/* Parte inferior (blanca) */
.footer-bottom {
  background-color: #001F3F;
  color: #fff;
  padding: 20px;
  font-size: 14px;
  border-top: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.footer-links a {
  margin: 0 5px;
  color: #fff;
  text-decoration: none;
}

.footer-extras span {
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  cursor: pointer;
}

.footer-extras svg {
  font-size: 16px;
}

.contact-info {
  margin: 8px 0;         
  padding: 8px 0;}


.contact-info p {
  line-height: 2;        
  margin: 0 0 8px 0;  
  font-size: 20px;   
}

* {
  font-family: 'Futura', Arial, sans-serif;
}

